body {
  font-family: sans-serif;
  max-width: 800px;
  min-width: 800px;
  background-color: #dfe6e9;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  width: 400px;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 4px solid #d19696;
  border-radius: 25px;
  scrollbar-width: thin;
  scrollbar-color: #d19696 #dfe6e9;
}

.top_left {
  width: 400px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 4px solid #d19696;
  border-radius: 25px;
}

.right {
  height: 700px;
  width: 1030px;
  background: linear-gradient(to right, rgb(224, 139, 153), rgb(140, 140, 235));
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 15px;
  border: 4px solid #d19696;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.profile_link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 20px;
  right: 80px;
  font-size: 20px;
}

.logout_btn {
  padding: '6px 12px';
  cursor: 'pointer';
  position: absolute;
  top: 20px;
  right: 20px;
}
